/*
    Promote the Arts Homepage CSS

   Promote the arts style sheet
   Author: Jacob Isaacs
   Date:   3/9/2016

   Filename:         promo.css
   Supporting Files: none

*/

/* Section Styles */

body {
margin: auto;
max-width: 1000px;
min-width: 250px;
font-family: Verdana, Geneva, sans-serif;
background-image: url(../images/background.jpg);
background-repeat: no-repeat;
background-size: cover;
}


/* Site Navigation */


header{
    text-align: center;
}
header img{
    outline: rgba(222,155,38, 0.9) 2px solid;
    margin-top: 10px;
}

nav{
    height: 50px;
    width: 1000px;
    background-color: black;
    outline: rgba(222,155,38, 0.9) 2px solid;
    /* test */    
    /*outline: black solid 2px; */
}
/* for problem 9*/
nav li{
    background-color: black;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    width: 180px;
    display: block;
    float: left;
    margin-right: 5px;
    text-align: center;
}
nav li a{
    display: block;
    color: white;
    background-color: black;
    text-decoration: none;
}
/* for problem 10 when hovering */
nav li a:hover{
    background-color: rgba(222,155,38, 0.9);
    color: black;
}
/*Product Images*/
#productimgs h2{
    background-color: black;
    color: white;
    text-align: center;

}
#productimgs {
    width: 1000px;
    margin-top: 10px;
    background-color: black;
    clear: left;
    float: left;
    height: 320px;
}
#productimgs img{
    float: left;
    margin-left: 60px;
}
#products{
    background-color: black;
    color: white;
    outline: rgba(222,155,38, 0.9) 2px solid;
}
#products ul{
    display: block;
    background-color: black;
}
#products ul li{
    padding: 0px;
    list-style-type: none;
    margin-left: 0px;
    text-align: center;
}

/* Artists */

#Artists{
    outline: rgba(222,155,38, 0.9) 2px solid;
    float: left;
    background-color: black;
    margin-left: 0px;
    margin-top: 10px;
    color: white;
    text-indent: 15px;
    text-align: center;
    height: 450px;
}
#Artists figure{
    position: relative;
    top: 15px;
}

figure figcaption{
    font-size: 10px;
}
#Artists p{
    position: relative;
    top: 20px;
}
#Artists p:hover{
    background-color: rgba(222,155,38, 0.9);
}
#Artists a:hover{
    color: black;
}
#Artists a{
    text-decoration: none;
    color:white;
}

/*Gallery */
#Benefits {
    outline: rgba(222,155,38, 0.9) 2px solid;
    background-color: black;
    color: white;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    width: 645px;
    height: 220px;
    text-align: center;
}
#Meet {
    outline: rgba(222,155,38, 0.9) 2px solid;
    background-color: black;
    color: white;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    width: 645px;
    height: 220px;
    text-align: center;
}



footer {
clear:left;
display: block;
width: 100%;
text-align: center;
font-variant: small-caps;
border-top: 5px solid rgba(222,155,38, 0.9);;
background-color: black;
line-height: 50px;
position: relative;
top: 10px;
}
footer a{
    text-decoration: none;
    color: white;
    margin-left: 50px;
}

